<!DOCTYPE html>
<!--import from thymeleaf to read css in static folder-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="" th:href="@{css/main.css}"> -->
    <link rel="stylesheet" href="../static/css/drdashboard.css">
    <title>Index</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="profile">
                <table style="width:100%">
                    <tr>
                        <td style="width:5%"><img src="../images/profile.png" class="profilepic"></td>
                        <td style="width:30%">DOCTOR ADDIN</td>
                        <td><a href="doctorschedule.html"><div class="menubox">VIEW SCHEDULE</div></td>
                        <td><a href="viewReport.html"><div class="menubox">VIEW REPORT</div></a></td>
                        <td><a href="login.html"><div class="menubox">LOGOUT</div></a></td>
                    </tr>
                </table>
            </div>
        </div>
        
       
            <h1></h1>

            <main class="st_viewport">
              <div class="st_wrap_table" data-table_id="0">
                <header class="st_table_header">
                  <h2>COUNSELLING SESSION</h2>
                  <div class="st_row">
                    <div class="st_column _rank">No.</div>
                    <div class="st_column _name">Name</div>
                    <div class="st_column _surname">Date</div>
                    <div class="st_column _year">Time</div>
                    <div class="st_column _section">Status</div>
                    <div class="st_column _section">Action</div>
                  </div>
                </header>
                <div class="st_table">
                  <div class="st_row">
                    <div class="st_column _rank">1</div>
                    <div class="st_column _name">Muhalim bin Mualim</div>
                    <div class="st_column _surname">12/12/22</div>
                    <div class="st_column _year">10:30AM</div>
                    <div class="st_column _section">Anxiety</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                  <div class="st_row">
                    <div class="st_column _rank">2</div>
                    <div class="st_column _name">Anwar bin Abraham</div>
                    <div class="st_column _surname">13/12/22</div>
                    <div class="st_column _year">11:00AM</div>
                    <div class="st_column _section">Anxiety</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                  <div class="st_row">
                    <div class="st_column _rank">3</div>
                    <div class="st_column _name">Siti binti Mahathir</div>
                    <div class="st_column _surname">13/12/22</div>
                    <div class="st_column _year">2:00PM</div>
                    <div class="st_column _section">Depression</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                  
              <div class="st_wrap_table" data-table_id="1">
                <header class="st_table_header">
                  <h2>SHARING SESSION</h2>
                  <div class="st_row">
                    <div class="st_column _rank">No.</div>
                    <div class="st_column _name">Address</div>
                    <div class="st_column _surname">Topic</div>
                    <div class="st_column _year">Date</div>
                    <div class="st_column _section">Time</div>
                    <div class="st_column _section">Action</div>
                    
                  </div>
                </header>
                <div class="st_table">
                  <div class="st_row">
                    <div class="st_column _rank">1</div>
                    <div class="st_column _name">SMTKL</div>
                    <div class="st_column _surname">Get more focus in study with healthy mental health.</div>
                    <div class="st_column _year">1/3/2023</div>
                    <div class="st_column _section">10:00AM</div>
                    <div class="st_column _section"><button>View</button></div>
                </div>
                  <div class="st_row">
                    <div class="st_column _rank">2</div>
                    <div class="st_column _name">SMK Cyberkaya</div>
                    <div class="st_column _surname">Stressful Prevention</div>
                    <div class="st_column _year">7/3/2023</div>
                    <div class="st_column _section">8:00AM</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                  <div class="st_row">
                    <div class="st_column _rank">3</div>
                    <div class="st_column _name">UITM, Lendu</div>
                    <div class="st_column _surname">Depresi itu Pembunuh</div>
                    <div class="st_column _year">10/3/2023</div>
                    <div class="st_column _section">9:00PM</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                  <div class="st_row">
                    <div class="st_column _rank">4</div>
                    <div class="st_column _name">UTM, Skudai</div>
                    <div class="st_column _surname">The Importance of Healthy Mental Health</div>
                    <div class="st_column _year">4/4/2023</div>
                    <div class="st_column _section">9:00PM</div>
                    <div class="st_column _section"><button>View</button></div>
                  </div>
                </div>
              </div>
                </div>
              </div>
            </main>
            <footer>
            
            </footer>
        </div>
</body>
</html>