<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/drdashboard.css">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="main">
            <div class="menu">
                <div class="profile">
                    <table style="width:100%">
                        <tr>
                            
                            <td style="width:5%"><img src="../images/profile.png" class="profilepic"></td>
                            <td><a href="user_manage.html"><div class="menubox" style="width:30%">Admin</div></a></td>
                            <td><a href="user_client.html"><div class="menubox">CLIENTS</div></a></td>
                            <td><a href="user_psychologist.html"><div class="menubox">PSYCHOLOGISTS</div></a></td>
                          
                            <td><a href="login.html"><div class="menubox">LOGOUT</div></a></td>
                            
                        </tr>
                    </table>
                </div>
            </div>
 
            <h1>This is Admin Manage User!</h1>
            <div class="main">
                <div class="inner-box">
                <h2 class="title-form">Psychologist Users</h2>  
                    <form>
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <td>No.</td>
                                    <td>Psychologist's name</td>
                                    <td>Phone Number</td>
                                    <td>Password</td>                                    
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <td>1</td>
                            <td>Dr Brenda Bin Kamal</td>
                            <td>014-513546</td>
                            <td>Sado</td>                           
                            <td><button>Edit</button></td>
                        </table>
                       
                    </form>
                </div>

                
                        </form>
                    </div>
                </div>

</body>
</html>