<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

 
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Create client </h1>
				<div class = "card-body">
					<form action="createclient"  method="POST">
						<div class ="form-group">
							<label> Username </label>
							<input
							type = "text"
							name = "username"
							id = username
							class = "form-control"
							placeholder="Enter Username" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Client name </label>
							<input
							type = "text"
							name = "fullname"
							id = fullname
							class = "form-control"
							placeholder="Enter Client Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Phone Number </label>
							<input
							type = "text"
							name = "phoneNo"
							id = phoneNo
							class = "form-control"
							placeholder="Enter Phone Number" 
							/>
						</div>

                        <div class ="form-group">
							<label> Password </label>
							<input
							type = "text"
							name = "password"
                            id = password
							class = "form-control"
							placeholder="Enter Password" 
							/>
						</div>
						
						
    <button class="sub" input type="submit" value="Create Account  ">Submit </button>
    
    <button class="res" type="reset" value="Reset">Reset </button>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>