<!DOCTYPE html>
<!--import from thymeleaf to read css in static folder-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{css/main.css}">
    <title>Index</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="profile">
                <table style="width:100%">
                    <tr>
                        <td style="width:5%"><img src="" th:src="@{/images/profile.png}" alt ="" class="profilepic"></td>
                        <td style="width:30%">PATIENT NAME</td>
                        <td class="menubox" >BOOK SESSION</td>
                        <td class="menubox" >TAKE PSYCHOLOGY TEST</td>
                        <td class="menubox" >BOOK SESSION</td>
                        <td class="menubox" href="" th:href="@{/login}" >LOGOUT</td>
                    </tr>
                </table>
            </div>
        </div>
        
       
            <h1>WELCOME TO PCMS!</h1>
      
    </div>
</body>
</html>