<!DOCTYPE html>
<!--import from thymeleaf to read css in static folder-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="" th:href="@{css/main.css}"> -->
    <link rel="stylesheet" href="../static/css/main.css">
    <title>PCMS-PATIENT</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="profile">
                <table style="width:100%">
                    <tr>
                        <td style="width:5%"><img src="../images/profile.png" class="profilepic"></td>
                        <td style="width:30%">MUHALIM BIN MUALIM</td>
                        <td><a href="bookCounsellingForm.html"><div class="menubox">BOOK SESSION</div></td>
                        
                        <td style="align-content: center;"><button id="my-btn">TAKE PSYCHOLOGY TEST</button></td>
                
                        <td><a href="booksharingsessionform.html"><div class="menubox">BOOK SHARING SESSION</div></a></td>
                        <td><a href="login.html"><div class="menubox">LOGOUT</div></a></td>
                    </tr>
                </table>
            </div>
        </div>
        
            <h1>WELCOME TO PCMS!</h1>

           
             <div>
                <form  id="test">
                1. I couldn’t seem to experience any positive feeling at all.
                <br>
                <input type="radio" name="answer1" value="answer"  required>
                <label >Almost always</label>
                <input type="radio" name="answer1" value="answer">
                <label >Often</label>
                <input type="radio" name="answer1" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer1" value="answer">
                <label >Never</label><br><br>
                2. I experienced breathing difficulty.
                <br>    
                <input type="radio" name="answer2" value="answer">
                <label >Almost always</label>
                <input type="radio" name="answer2" value="answer">
                <label >Often</label>
                <input type="radio" name="answer2" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer2" value="answer">
                <label >Never</label><br> <br>       
                3. I found it difficult to work up the initiative to do things.
                <br>
                <input type="radio" name="answer3" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer3" value="answer">
                <label >Often</label>
                <input type="radio" name="answer3" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer3" value="answer">
                <label >Never</label><br><br>
                4. I tended to over-react to situations.
                <br>  
                <input type="radio" name="answer4" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer4" value="answer">
                <label >Often</label>
                <input type="radio" name="answer4" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer4" value="answer">
                <label >Never</label><br>  <br>           
                5. I experienced trembling (eg, in the hands).
                <br>  
                <input type="radio" name="answer5" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer5" value="answer">
                <label >Often</label>
                <input type="radio" name="answer5" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer5" value="answer">
                <label >Never</label><br><br>           
                6. I felt that I was using a lot of nervous energy.
                <br>   
                <input type="radio" name="answer6" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer6" value="answer">
                <label >Often</label>
                <input type="radio" name="answer6" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer6" value="answer">
                <label >Never</label><br><br>         
                7. I was worried about situations in which I might panic and make a fool of myself.
                <br>  
                <input type="radio" name="answer7" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer7" value="answer">
                <label >Often</label>
                <input type="radio" name="answer7" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer7" value="answer">
                <label >Never</label><br><br>          
                8. I felt that I had nothing to look forward to.
                <br>   
                <input type="radio" name="answer8" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer8" value="answer">
                <label >Often</label>
                <input type="radio" name="answer8" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer8" value="answer">
                <label >Never</label><br> <br>       
                9. I found it difficult to relax.
                <br>
                <input type="radio" name="answer9" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer9" value="answer">
                <label >Often</label>
                <input type="radio" name="answer9" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer9" value="answer">
                <label >Never</label><br><br>           
                10. I felt I was close to panic.
                <br>
                <input type="radio" name="answer10" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer10" value="answer">
                <label >Often</label>
                <input type="radio" name="answer10" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer10" value="answer">
                <label >Never</label><br><br>
                11. I felt I wasn’t worth much as a person.
                <br> 
                <input type="radio" name="answer11" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer11" value="answer">
                <label >Often</label>
                <input type="radio" name="answer11" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer11" value="answer">
                <label >Never</label><br> <br>        
                12. I felt scared without any good reason.
                <br> 
                <input type="radio" name="answer12" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer12" value="answer">
                <label >Often</label>
                <input type="radio" name="answer12" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer12" value="answer">
                <label >Never</label><br> <br>         
                13. I felt that life was meaningless.
                <br>
                <input type="radio" name="answer13" value="answer" required>
                <label >Almost always</label>
                <input type="radio" name="answer13" value="answer">
                <label >Often</label>
                <input type="radio" name="answer13" value="answer">
                <label >Sometimes</label>
                <input type="radio" name="answer13" value="answer">
                <label >Never</label><br><br><br>
                


                <input class="sub" type="submit" name="submit" value="submit">
                
                <input class="reset" type="reset" name="reset" value="reset">
                
                </form>
            </div> 
    </div>
</body>
</html>

<script>
    const btn = document.querySelector("#my-btn");
    const test = document.querySelector("#test");
    const h1 = document.querySelector("h1");
    
    btn.addEventListener("click", function() {
        if(test.style.display === "block"){
        test.style.display = "none";
        
        }
        else{
            test.style.display = "block" ;
        }
        });
</script>