<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Index</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="profile">
                <table style="width:100%">
                    <tr>
                        <td style="width:5%"><img src="../images/profile.png" class="profilepic"></td>
                        <td style="width:30%">PATIENT NAME</td>
                        <td class="menubox" style ="text-align: center;">BOOK SESSION</td>
                        <td class="menubox" style="text-align: center;">TAKE PSYCHOLOGY TEST</td>
                        <td class="menubox" style="text-align: center;">BOOK SESSION</td>
                        <td class="menubox" href ="login.html" style="text-align: center;">LOGOUT</td>
                    </tr>
                </table>
            </div>
        </div>
        
       
            <h1>WELCOME TO PCMS!</h1>
      
    </div>
</body>
</html>