<!DOCTYPE html>
<!--import from thymeleaf to read css in static folder-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Index</title>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="#" th:text="${doctor.getfullname}"></a>
        </li>
       <li class="nav-item">
        <a class="nav-link bg-secondary text-white" th:href="@{/doctor/viewschedule(doctorId=${doctor.getId})}">View Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"href="/report">View Report</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">Log Out</a>
        </li>
        
      </ul>
    </div>
  </nav>

      <div class="container">

        <h2>Counselling Appointment Schedule</h2>
        <table th:if="${counsellingSessions}" class="table">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Time</td>  
                    <td>Patient Name</td>
                    <td>Phone Number</td>
                    <td>Reason</td>
                                                      
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                                        
                <tr th:each="counsellingSession: ${counsellingSessions}">
                    <td th:text="${counsellingSession.date}"></td>
                    <td th:text="${counsellingSession.time}"></td>
                    <td th:text="${counsellingSession.fullname}"></td>
                    <td th:text="${counsellingSession.phoneNo}"></td>
                    <td th:text="${counsellingSession.reason}"></td>
                    <td>
                    <button type="button" class="btn btn-lg btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Release</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

      <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Write Report</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Conclude patient behaviour.</p>
                <label for="comment">Report:</label>
                <textarea class="form-control" rows="5" id="comment" name="report"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

</body>
</html>