<!DOCTYPE html>
<!--import from thymeleaf to read css in static folder-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="" th:href="@{css/main.css}"> -->
    <link rel="stylesheet" href="../static/css/drdashboard.css">
    <title>Index</title>
</head>
<body>
    <div class="main">
        <div class="menu">
            <div class="profile">
                <table style="width:100%">
                    <tr>
                        <td style="width:5%"><img src="../images/profile.png" class="profilepic"></td>
                        <td style="width:30%">DOCTOR ADDIN</td>
                        <td><a href="doctorschedule.html"><div class="menubox">VIEW SCHEDULE</div></td>
                        <td><a th href="@{/report}"><div class="menubox">VIEW REPORT</div></a></td>
                        <td><a href="login.html"><div class="menubox">LOGOUT</div></a></td>
                    </tr>
                </table>
            </div>
        </div>
        
       
            <h1>WELCOME TO PCMS!</h1>

            <div class="main">
                <div class="inner-box">
                <h2 class="title-form">Assign Counselling Session</h2>  
                    <form>
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <td>No.</td>
                                    <td>Fullname</td>
                                    <td>Phone Number</td>
                                    <td>Date</td>
                                    <td>Time</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <td>1</td>
                            <td>Muhalim bin Mualim</td>
                            <td>013337232</td>
                            <td>05/01/2023</td>
                            <td>9.00 am</td>
                            <td><button>Accept</button></td>
                        </table>
                       
                    </form>
                </div>

                <div class="main">
                    <div class="inner-box">
                    <h2 class="title-form">Assign Sharing Session</h2>  
                        <form>
                            <table style="width: 100%">
                                <thead>
                                    <tr>
                                        <td>No.</td>
                                        <td>Fullname</td>
                                        <td>Phone Number</td>
                                        <td>Date</td>
                                        <td>Address</td>
                                        <td>Time</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <td>1</td>
                                <td>Muhalim bin Mualim</td>
                                <td>013337232</td>
                                <td>05/01/2023</td>
                                <td>SMTKL</td>
                                <td>9.00 am</td>
                                <td><button>Accept</button></td>
                            </table>
                        </form>
                    </div>
                </div>
      
    </div>
</body>
</html>